# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# see https://www.gitignore.io/api/visualstudiocode
### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
**/.history

# Random mac cruft
.DS_Store

# End of https://www.gitignore.io/api/visualstudiocode
